<h2></h2>
<p>Software Developer</p>
<p>Humber College</p>

<h2>Summary</h2>
<p>Enthusiastic software developer with a passion for coding and problem-solving. Currently pursuing the Information
    Technology Solutions Course at Humber College.</p>

<h2>Education</h2>
<p><strong>Humber College</strong> - Information Technology Solutions (In Progress)</p>

<h2>Skills</h2>
<ul>
    <li>Programming Languages: Java, PHP, Python</li>
    <li>Web Development: HTML, CSS, JavaScript</li>
    <li>Database Management: MySQL</li>
    <li>Version Control: Git</li>
</ul>

<h2>Projects</h2>
<p><strong>Raktdan</strong> (PHP, MySQL)</p>
<p>The basic idea behind 'RAKTDAN' is to assist people in critical situations by facilitating blood donation. It is a
    website and may be available as an application in future updates. Essentially, in the backend, there is a database
    of hospitals and users, while in the front-end, there is user authentication and other features related to blood
    donation and a live board. Individuals in need of blood can request assistance using valid hospital authorization,
    and this request will be displayed on the live help board for nearby interested donors.</p>

<p><strong>GST Billing System</strong> (JAVA, MySQL)</p>
<p>During the time when I was working on that project, there weren't any simpler software options for a GST billing
    system. To ensure user-friendly functionality, we developed a straightforward billing system capable of storing
    sales and purchase bills, managing stock, and incorporating features like separate billing for sales and purchases.
    Additionally, we implemented the ability to generate yearly and monthly reports in PDF or Excel format. Furthermore,
    the system includes a dedicated section for maintaining account details, including account numbers, names,
    addresses, payable amounts, and closing balances.</p>

<h2>Contact Information</h2>
<p>Email: yashpatel9805@gmail.com</p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/yash-patel-89b55514a/" target="_blank">linkedin.com/in/yashpatel</a>
</p>